<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div *ngIf="error">
      <app-alert [message]="error" *ngIf="error" (close)="onAlertClose()"></app-alert>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onAuthRequest(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6" />
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="authForm.invalid" >{{ signIn ? 'Sign In' : 'Sign Up' }}</button> |
        <button class="btn btn-primary" type="button" (click)="onAuthChange()">{{ signIn ? 'Switch to sign up' : 'Switch to sign in' }}</button>
      </div>
    </form>

    <div [ngStyle]="{'text-align': 'center'}">
      <app-spinner *ngIf="isLoading"></app-spinner>
    </div>
  </div>
</div>
